node_modules
.next
.git
.github
.gitignore
.env
.env.*
!.env.template
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
yarn.lock
package-lock.json
.vscode
.idea
docs
README.md
*.md
.DS_Store
coverage
Dockerfile
.dockerignore
